on early-init
    # Enable sched boost
    write /proc/sys/kernel/sched_boost 1
    setprop sys.io.scheduler noop

on boot
    # Update foreground and background cpusets
    # write /dev/cpuset/foreground/cpus 0-3
    # write /dev/cpuset/foreground/boost/cpus 2-3
    # write /dev/cpuset/background/cpus 0-1
    # write /dev/cpuset/system-background/cpus 0-3

on property:sys.boot_completed=1
    # Enable Adaptive LMK
    write /sys/module/lowmemorykiller/parameters/enable_adaptive_lmk 1
    write /sys/module/lowmemorykiller/parameters/vmpressure_file_min 81250

    # Configure governor settings for little cluster
    # write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 307200

    # Online CPU2
    # write /sys/devices/system/cpu/cpu2/online 1

    # Configure governor settings for big cluster
    # write /sys/devices/system/cpu/cpu2/cpufreq/scaling_min_freq 307200

    # Online CPU3?
    # write /sys/devices/system/cpu/cpu3/online 1

    # already performance by default in our kernel
    # write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "performance"
    # write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor "performance"

    # Setting b.L scheduler parameters
    write /proc/sys/kernel/sched_boost 0
    write /proc/sys/kernel/sched_downmigrate 45
    write /proc/sys/kernel/sched_upmigrate 45
    write /proc/sys/kernel/sched_freq_inc_notify 400000
    write /proc/sys/kernel/sched_freq_dec_notify 400000
    write /proc/sys/kernel/sched_spill_nr_run 3
    write /proc/sys/kernel/sched_init_task_load 100
    write /proc/sys/kernel/sched_upmigrate_min_nice 9

    # Enable bus-dcvs
    write /sys/class/devfreq/soc:qcom,cpubw/governor "bw_hwmon"
    write /sys/class/devfreq/soc:qcom,cpubw/polling_interval 50
    write /sys/class/devfreq/soc:qcom,cpubw/min_freq 1525
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/mbps_zones "1525 5195 11863 13763"
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/sample_ms 4
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/io_percent 34
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/hist_memory 20
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/hyst_length 10
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/low_power_ceil_mbps 0
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/low_power_io_percent 34
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/low_power_delay 20
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/guard_band_mbps 0
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/up_scale 250
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/idle_mbps 1600

    write /sys/class/devfreq/soc:qcom,memlat-cpu0/governor "mem_latency"
    write /sys/class/devfreq/soc:qcom,memlat-cpu0/polling_interval 10
    write /sys/class/devfreq/soc:qcom,memlat-cpu2/governor "mem_latency"
    write /sys/class/devfreq/soc:qcom,memlat-cpu2/polling_interval 10
    write /sys/class/devfreq/soc:qcom,mincpubw/governor "cpufreq"

    write /sys/class/kgsl/kgsl-3d0/devfreq/governor "msm-adreno-tz"
    # write /sys/class/kgsl/kgsl-3d0/devfreq/governor "performance"

    write /sys/module/lpm_levels/parameters/sleep_disabled "N"

    setprop sys.io.scheduler cfq


