crlDistributionPoints=URI:http://crl.qdst.com/crls/qctdevattest.crl
authorityKeyIdentifier=keyid,issuer
basicConstraints=CA:false,pathlen:0
keyUsage=digitalSignature, nonRepudiation, keyEncipherment, dataEncipherment

