[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
overpy = {git = "https://github.com/commaai/python-overpy.git",ref = "f86529af402d4642e1faeb146671c40284007323"}
atomicwrites = "*"
cffi = "*"
crcmod = "*"
hexdump = "*"
libusb1 = "*"
numpy = "*"
psutil = "*"
pycapnp = "==1.1.0"
cryptography = "==3.3.2"
pyserial = "*"
python-dateutil = "*"
pyzmq = "*"
raven = "*"
sentry-sdk = "*"
requests = "*"
setproctitle = "*"
six = "*"
smbus2 = "*"
sympy = "*"
tqdm = "*"
Cython = "*"
PyYAML = "*"
websocket_client = "*"
Logentries = {git = "https://github.com/commaai/le_python.git",ref = "feaeacb48f7f4bdb02c0a8fc092326d4e101b7f2"}
urllib3 = "*"
chardet = "*"
idna = "*"
gunicorn = "*"
utm = "*"
json-rpc = "*"
Flask = "*"
PyJWT = "*"
"Jinja2" = "*"
nose = "*"
flake8 = "*"
pylint = "*"
pycryptodome = "*"
pillow = "*"
scons = "*"
cysignals = "*"
aenum = "*"
coverage = "*"
dictdiffer = "*"
lru-dict = "*"
pycurl = "*"
tenacity = "*"
pre-commit = "*"
parameterized = "*"
future-fstrings = "*"
evdev = "*"

[requires]
python_version = "3.8.5"
