PrintMotd no
PasswordAuthentication no
PubkeyAcceptedKeyTypes +ssh-dss
Subsystem sftp /data/data/com.termux/files/usr/libexec/sftp-server

StrictModes no
AuthorizedKeysFile /data/params/d/GithubSshKeys
